@using Teledok.Models.Enums.Extentions
@model List<Client>
@{
    ViewData["Title"] = "Клиенты";
}

<div>
    <a asp-action="CreateClient" class="btn btn-primary">Добавить клиента</a>
</div>
<br/>
<div>
    <table id="tb1" class="table table-bordered">
        <thead>
        <tr>
            <th>
                ИНН
            </th>
            <th>
                Наименование
            </th>
            <th>
                Тип
            </th>
            <th>
                Учредители
            </th>
            <th>
                Дата добаления
            </th>
            <th>
                Дата обновления
            </th>
            
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.INN
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.ClientType.GetDisplayName()
                </td>
                <td>
                    @{
                        var founderStr = "";
                        foreach (var founder in item.Founders)
                        {
                            founderStr += founder.Fullname + "<br/>";
                        }
                    }
                    @Html.Raw(founderStr)
                </td>
                <td>
                    @item.CreationDate.ToString("dd-MM-yyyy")
                </td>
                <td>
                    @item.LastEditDate.Date.ToString("dd-MM-yyyy")
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
